:root {
	--header__logo-height             : 53px;
	--title                           : 800 20px/24px "Akrobat", sans-serif;
	--sidebar-catalog-width           : 0px;
	--catalog-padding                 : 3.75vw;
	--catalog-item-count-in-row       : 2;
	--catalog-item-count-margin-in-row: calc(var(--catalog-item-count-in-row) - 1);
	--catalog-item-margin-left        : 3.125vw;
	--catalog-item-width              : calc(((100vw - var(--sidebar-catalog-width)) - (var(--catalog-padding) * 2) - (var(--catalog-item-margin-left) * var(--catalog-item-count-margin-in-row))) / var(--catalog-item-count-in-row));
}

@font-face {
	font-family: "Akrobat";
	src        : url("../fonts/Akrobatsemibold.woff2") format('woff2'), url("../fonts/Akrobatsemibold.woff") format('woff');
	font-weight: 600;
	font-style : normal;
}

@font-face {
	font-family: "Akrobat";
	src        : url("../fonts/Akrobatextrabold.woff2") format('woff2'), url("../fonts/Akrobatbold.woff") format('woff');
	font-weight: bold;
	font-style : normal;
}

@font-face {
	font-family: "Akrobat";
	src        : url("../fonts/Akrobatextrabold.woff2") format('woff2'), url("../fonts/Akrobatextrabold.woff") format('woff');
	font-weight: 800;
	font-style : normal;
}

.title {
	font          : var(--title);
	letter-spacing: initial;
}

body {
	font    : 12px/16px "Roboto", sans-serif;
	margin  : 0 auto;
	padding : 0;
	overflow: hidden;
}

a {
	text-decoration: none;
}

.sidebar-catalog {
	display: none;
}

/* отключаем скролл боди */

.scroller {
	overflow-y: scroll;
	height    : 100vh;
}

.header {
	background-image: linear-gradient(0deg, #00A7FA 13.6%, #007CD7 74.08%);
	margin-bottom   : 14px;
	position        : relative;
	width           : 100%;
	z-index         : 1;
}

.header-menu-wrapper {
	box-sizing    : border-box;
	height        : var(--header__logo-height);
	width         : 100%;
	vertical-align: middle;
	padding-top   : 12px;
	z-index       : 1;
}

.header__logo {
	display    : inline-block;
	font       : bold 20px/24px "Akrobat", sans-serif;
	margin-left: 17px;
}

.header__logo-img,
.header__logo-img-white {
	width         : 34px;
	height        : 28px;
	vertical-align: bottom;
}

.header__logo-img {
	display: none;
}

.header__logo-name {
	color         : white;
	display       : inline-block;
	margin-left   : 6px;
	line-height   : 24px;
	letter-spacing: 0.02em;
}

/*menu*/

.menu-toggler-checkbox {
	position  : absolute;
	cursor    : pointer;
	top       : 0;
	right     : 0;
	padding   : 27px 0 0 28px;
	box-sizing: border-box;
	z-index   : 100;
	width     : 70px;
	height    : 70px;
}

.menu-toggler-checkbox>span,
.menu-toggler-checkbox>span::before,
.menu-toggler-checkbox>span::after {
	content         : "";
	background-color: white;
	height          : 2px;
	position        : absolute;
	transition      : 0.1s;
	width           : 18px;
}

.menu-toggler-checkbox>span::before {
	top: -4px;
}

.menu-toggler-checkbox>span::after {
	top: 4px;
}

#menu-toggler {
	display: none;
}

/* отключаем прокрутку сщдержимого страницы */

#menu-toggler:checked~.scroller {
	overflow: hidden;
}

/* анимация бургера */

#menu-toggler:checked~.scroller .menu-toggler-checkbox>span {
	transform: rotate(45deg);
}

#menu-toggler:checked~.scroller .menu-toggler-checkbox>span::before {
	top      : 0;
	transform: rotate(0);
}

#menu-toggler:checked~.scroller .menu-toggler-checkbox>span::after {
	top      : 0;
	transform: rotate(90deg);
}

/* стилизация бургера в белый цвет при клике */

#menu-toggler:checked~.scroller .menu-toggler-checkbox>span,
#menu-toggler:checked~.scroller .menu-toggler-checkbox>span::before,
#menu-toggler:checked~.scroller .menu-toggler-checkbox>span::after {
	background-color: #fff;
}

#menu-toggler:checked~.scroller .header__logo-name {
	color: white;
}

#menu-toggler:checked~.scroller .menu-toggler-checkbox {
	position: fixed;
}

#menu-toggler:checked~.scroller .header__logo .header__logo-img {
	display: none;
}

#menu-toggler:checked~.scroller .header__logo-img-white {
	display: inline-block;
}

#menu-toggler:checked~.scroller .header-menu-wrapper {
	background: linear-gradient(0deg, #00A7FA 13.6%, #007CD7 50.08%);
	position  : fixed;
	top       : 0;
}

/* открытие меню при клике бургера */

#menu-toggler:checked~.scroller .nav-menu {
	display: block;
}

.nav-menu {
	background-color: #fff;
	box-sizing      : border-box;
	display         : none;
	overflow-y      : scroll;
	padding         : 16px 0 0 17px;
	position        : fixed;
	bottom          : 0;
	top             : var(--header__logo-height);
	width           : 100%;
}

.time-phone__time {
	display       : block;
	font          : 10px/12px "Roboto", sans-serif;
	margin-bottom : 4px;
	letter-spacing: -0.02em;
}

.time-phone__phone {
	color          : #000;
	display        : block;
	font           : 800 14px/17px "Akrobat", sans-serif;
	letter-spacing : 0.02em;
	text-decoration: none;
	cursor         : pointer;
}

.time-phone__phone-menu {
	display: inline-block;
}

.nav-menu__feedback-group {
	display: none;
}

.nav-menu__list,
.nav-menu__sublist {
	list-style: none;
	margin    : 0;
	padding   : 0;
}

.nav-menu__list {
	margin-top: 24px;
}

.nav-menu__item {
	position      : relative;
	padding-right : 35px;
	letter-spacing: 0.02em;
}

.nav-menu__item a {
	color          : black;
	display        : block;
	font           : bold 18px/22px "Akrobat", sans-serif;
	padding        : 16px 0;
	overflow-wrap  : break-word;
	text-decoration: none;
}

.nav-menu__item a:active {
	color: #0281DC;
}

.nav-menu__item a:visited {
	color: black;
}

.nav-menu__item-laptop,
.nav-menu__sublist {
	display: none;
}

.nav-menu__item-sublist a {
	font   : 600 16px/19px "Akrobat", sans-serif;
	padding: 8px 0;
}

.nav-menu__item-sublist a:active {
	color: #0281DC;
}

.nav-menu__item-sublist a:visited {
	color: black;
}

.nav-menu__tick {
	border-right : 2px solid black;
	border-bottom: 2px solid black;
	transform    : rotate(45deg);
	display      : block;
	position     : absolute;
	right        : 19px;
	top          : 20px;
	height       : 7px;
	width        : 6px;
}

#nav-menu__tick-checkbox-balloon,
#nav-menu__tick-checkbox-gas,
#nav-menu__tick-checkbox-other {
	display: none;
}

#nav-menu__tick-checkbox-balloon:checked~.nav-menu__sublist-balloon,
#nav-menu__tick-checkbox-gas:checked~.nav-menu__sublist-gas,
#nav-menu__tick-checkbox-other:checked~.nav-menu__sublist-other {
	display: block;
}

#nav-menu__tick-checkbox-balloon:checked~.nav-menu__tick,
#nav-menu__tick-checkbox-gas:checked~.nav-menu__tick,
#nav-menu__tick-checkbox-other:checked~.nav-menu__tick {
	transform: rotate(-135deg);
}

.btn {
	border-radius  : 4px;
	display        : block;
	font-weight    : 800;
	font-family    : "Akrobat", sans-serif;
	letter-spacing : 0.05em;
	text-decoration: none;
	text-align     : center;
}

.price-btn {
	color      : white;
	font-size  : 16px;
	line-height: 53px;
	margin     : 23px 0;
	width      : 288px;
	background : linear-gradient(169.9deg, #017DD8 23.22%, #01A8FB 95.44%);
}

.title-header {
	font-size     : 54px;
	line-height   : 54px;
	height        : 118px;
	width         : 271px;
	margin        : 44px auto 0;
	letter-spacing: 0.02em;
	text-align    : center;
	overflow-wrap : break-word;
}

.breadcrumbs {
	color : #646464;
	margin: 0 9px 28px;
}

/* !catalog */

.title-catalog {
	margin: 0px 2.5vw 24px;
}

.text-catalog {
	letter-spacing: 0.01em;
	margin        : -16px 2.5vw 16px;
}

.catalog {
	font-size     : 0;
	margin-left   : calc(var(--catalog-item-margin-left) * -1);
	margin-bottom : 8px;
	letter-spacing: 0;
	padding       : 0 var(--catalog-padding);
}

.catalog__item {
	display      : inline-block;
	min-height   : 179px;
	margin-bottom: 32px;
	margin-left  : var(--catalog-item-margin-left);
	width        : var(--catalog-item-width);
}

.catalog__item:visited {
	color: black;
}

.catalog__photo {
	background-color: #EDF2F5;
	border-radius   : 4px 4px 0px 0px;
	height          : calc(var(--catalog-item-width) * 0.71);
	max-height      : 250px;
	position        : relative;
	overflow        : hidden;
	text-align      : center;
	width           : 100%;
}

.catalog__label {
	border-radius: 0px 4px 0px 0px;
	color        : white;
	font         : bold 10px/18px "Akrobat", sans-serif;
	text-align   : center;
	position     : absolute;
	top          : 0;
	right        : 0;
	width        : 68px;
}

.catalog__label-blue {
	background-color: #029FFC;
}

.catalog__label-green {
	background-color: #00B646;
}

.catalog__label-red {
	background-color: #D95048;
}

.catalog__item-photo {
	height    : auto;
	margin-top: 28px;
	max-width : 130px;
	width     : 42%;
}

.catalog__name {
	font-size : 14px;
	margin-top: 9px;
}

.catalog__volume {
	color      : #8B8B8B;
	font-size  : 12px;
	line-height: 18px;
}

.catalog__cost {
	font      : 800 14px/17px "Akrobat", sans-serif;
	margin-top: 9px;
}

.footer {
	background-color: #282828;
	color           : white;
	display         : flex;
	align-items     : center;
	padding         : 16px 0 17px 3.75vw;
}

.footer__feedback {
	align-items: center;
	display    : flex;
}

.footer__feedback-group {
	margin-right: 12.2vw;
}

.time-phone__phone-footer {
	color: white;
}

.footer__email,
.footer__skype,
.footer__map {
	color          : white;
	display        : block;
	font           : 10px/12px "Roboto", sans-serif;
	letter-spacing : 0.02em;
	margin-bottom  : 3px;
	text-decoration: none;
}

.footer__address,
.footer__title,
.footer__skype,
.footer__feedback-group:nth-of-type(2),
.footer__feedback-group:nth-of-type(1) .time-phone__phone-footer:last-child {
	display: none;
}

/* !MEDIA QUERIES */

@media (min-width: 1280px) and (max-width: 1919px) {
	:root {
		--header__logo-height      : 108px;
		--title                    : 800 36px/43px "Akrobat", sans-serif;
		--catalog-item-count-in-row: 3;
	}

	body {
		font: 16px/23px "Roboto", sans-serif;
	}

	.header {
		height       : initial;
		margin-bottom: 50px;
	}

	.header-menu-wrapper {
		display    : flex;
		align-items: flex-start;
		padding    : 18px 0 0;
	}

	.header__logo {
		box-sizing  : border-box;
		margin      : 0;
		padding-left: 56px;
		width       : 300px;
	}

	.header__logo-img,
	.header__logo-img-white {
		width : 66px;
		height: 55px;
	}

	.header__logo-name {
		vertical-align: baseline;
		font-size     : 40px;
		line-height   : 48px;
		margin-left   : 11px;
	}

	.menu-toggler-checkbox {
		display: none;
	}

	.nav-menu {
		align-items     : center;
		background-color: transparent;
		box-sizing      : border-box;
		display         : flex;
		justify-content : space-between;
		overflow        : visible;
		padding         : 9px 0 0 28px;
		position        : static;
		width           : 980px;
	}

	.time-phone {
		display: none;
	}

	.nav-menu__list {
		display  : flex;
		flex-wrap: wrap;
		margin   : 0;
		width    : 660px;
	}

	.nav-menu__item {
		margin-right  : 32px;
		letter-spacing: 0.03em;
		position      : static;
		padding       : 0;
	}

	.nav-menu__item a {
		color: white;
		font : 18px/21px "Roboto", sans-serif;
	}

	.nav-menu__item a:visited {
		color: white;
	}

	.nav-menu__item-mobile,
	.nav-menu__tick {
		display: none;
	}

	.nav-menu__item-laptop {
		display: block;
	}

	.price-btn {
		color        : #000;
		height       : 46px;
		font-size    : 16px;
		line-height  : 46px;
		margin       : 0 79px 0 0;
		width        : 191px;
		border-radius: 6px;
		background   : #fff;
	}

	.breadcrumbs {
		display: none;
	}

	.title-catalog {
		margin: 0px 4.1vw 33px;
	}

	.text-catalog {
		margin     : -23px 4.1vw 35px;
		font-size  : 18px;
		line-height: 25px;
		width      : 57vw;
	}

	.catalog {
		padding-bottom: 34px;
	}

	.catalog__item {
		min-height   : 351px;
		margin-bottom: 50px;
	}

	.catalog__label {
		font : bold 16px/27px "Akrobat", sans-serif;
		width: 95px;
	}

	.catalog__item-photo {
		margin-top: 37px;
		max-width : initial;
	}

	.catalog__name {
		font-size  : 26px;
		line-height: 26px;
		margin     : 19px 0 15px;
	}

	.catalog__volume {
		color      : #8B8B8B;
		font-size  : 18px;
		line-height: 21px;
	}

	.catalog__cost {
		font      : 800 26px/31px "Akrobat", sans-serif;
		margin-top: 19px;
	}

	.delivery {
		background   : linear-gradient(106.98deg, #017DD8 29.5%, #01A8FB 88.37%);
		border-radius: 21px;
		box-sizing   : border-box;
		margin       : 0 24px 54px;
		padding      : 35px 54px 0;
		position     : relative;
		text-align   : left;
	}

	.delivery__title {
		font-size  : 30px;
		line-height: 36px;
	}

	.delivery__text {
		width : 594px;
		margin: initial;
	}

	.delivery-btn {
		background-color: #23205E;
		color           : white;
		display         : block;
		font-size       : 16px;
		line-height     : 45px;
		margin          : 24px 0 41px;
		width           : 202px;
	}

	.delivery__photo {
		height  : 200px;
		width   : auto;
		position: absolute;
		top     : 25px;
		right   : -101px;
	}

	.footer {
		align-items: flex-start;
		padding    : 30px 56px;
	}

	.footer,
	.footer a {
		font: 16px/25px "Roboto", sans-serif;
	}

	.footer__address,
	.footer__title,
	.footer__skype,
	.footer__feedback-group:nth-of-type(1) .time-phone__phone-footer:last-child {
		display: block;
	}

	.footer__map,
	.time-phone__time-footer {
		display: none;
	}

	.footer__title {
		font: bold 16px/19px "Roboto", sans-serif;
	}

	.footer__address {
		width       : 265px;
		margin-right: 46px;
	}

	.footer__feedback {
		display: block;
	}

	.footer__feedback-group,
	.footer__feedback-group:nth-of-type(2) {
		display     : inline-block;
		margin-right: 56px;
	}
}

/* ! MEDIA 1920PX */

@media (min-width: 1920px) {
	:root {
		--title                    : 800 36px/43px "Akrobat", sans-serif;
		--sidebar-catalog-width    : 425px;
		--catalog-item-count-in-row: 4;
	}

	body {
		display : flex;
		font    : 18px/24px "Roboto", sans-serif;
		overflow: visible;
		overflow: overlay;
	}

	.sidebar-catalog {
		box-sizing : border-box;
		flex-shrink: 0;
		display    : block;
		padding    : 38px 38px;
		width      : var(--sidebar-catalog-width);
	}

	.sidebar-catalog__logo {
		margin: 0 9px 48px;
	}

	.sidebar-catalog__logo-img {
		width : 65px;
		height: 55px;
	}

	.sidebar-catalog__logo-name {
		color         : #1D4EA2;
		display       : inline-block;
		font          : bold 50px/60px "Akrobat", sans-serif;
		margin-left   : 9px;
		letter-spacing: 0.02em;
	}

	.catalog-list a:hover {
		color: #0281DC;
	}

	.catalog-list,
	.catalog-list__sublist {
		list-style: none;
		margin    : 0;
		padding   : 0;
	}

	.catalog-list__item {
		color          : black;
		display        : block;
		font           : 800 26px/38px "Akrobat", sans-serif;
		letter-spacing : 0.02em;
		margin-bottom  : 16px;
		overflow-wrap  : break-word;
		text-decoration: none;
	}

	.catalog-list__sublist {
		margin-bottom: 47px;
	}

	.catalog-list__item-sublist {
		font         : 600 22px/44px "Akrobat", sans-serif;
		margin-bottom: 0px;
	}

	.scroller {
		overflow: visible;
	}

	.header {
		background   : #24205E;
		height       : initial;
		margin-bottom: 44px;
	}

	.header-menu-wrapper {
		align-items: center;
		display    : flex;
		height     : 95px;
		padding    : 10px 127px 0 41px;
	}

	.header__logo,
	.menu-toggler-checkbox {
		display: none;
	}

	.nav-menu {
		align-items     : center;
		background-color: transparent;
		box-sizing      : border-box;
		display         : flex;
		justify-content : space-between;
		overflow        : visible;
		padding         : 0;
		position        : static;
		width           : 100%;
	}

	.time-phone {
		color      : white;
		display    : block;
		flex-shrink: 0;
		margin     : 0 44px 0 48px;
		order      : 1;
	}

	.time-phone__time-menu {
		display: block;
		font   : 14px/16px "Roboto", sans-serif;
	}

	.time-phone__phone-menu {
		color  : white;
		display: block;
		font   : 800 24px/29px "Akrobat", sans-serif;
	}

	a[class$=time-phone__phone-menu]:nth-of-type(2) {
		display: none;
	}

	.nav-menu__feedback-group {
		display    : block;
		flex-shrink: 0;
		order      : 2;
	}

	.nav-menu__email,
	.nav-menu__map {
		color          : white;
		display        : block;
		font           : 16px/25px "Roboto", sans-serif;
		text-decoration: none;
	}

	.nav-menu__list {
		display  : flex;
		flex-wrap: wrap;
		margin   : 0;
		width    : 625px;
	}

	.nav-menu__item {
		position    : static;
		padding     : 0;
		margin-right: 30px;
	}

	.nav-menu__item a {
		color: white;
		font : 18px/21px "Roboto", sans-serif;
	}

	.nav-menu__item a:visited {
		color: white;
	}

	.nav-menu__item-mobile {
		display: none;
	}

	.nav-menu__item-laptop {
		display: none;
	}

	.nav-menu__tick {
		display: none;
	}

	.price-btn {
		border-radius: 6px;
		background   : #fff;
		color        : #000;
		flex-shrink  : 0;
		font-size    : 16px;
		height       : 46px;
		line-height  : 46px;
		margin       : 0;
		width        : 191px;
	}

	.breadcrumbs {
		display: none;
	}

	.title-catalog {
		font-size  : 50px;
		line-height: 60px;
		margin     : 0px 41px 49px;
	}

	.text-catalog {
		margin        : -32px 41px 38px;
		font-size     : 18px;
		line-height   : 25px;
		letter-spacing: 0.01em;
		width         : 650px;
	}

	.catalog {
		margin-bottom: 60px;
	}

	.catalog__item {
		margin-bottom: 64px;
	}

	.catalog__photo {
		height: 210px;
	}

	.catalog__label {
		font : bold 16px/24px "Akrobat", sans-serif;
		width: 86px;
	}

	.catalog__name {
		font-size  : 26px;
		line-height: 34px;
		margin     : 11px 0 5px;
	}

	.catalog__volume {
		color      : #8B8B8B;
		font-size  : 18px;
		line-height: 21px;
	}

	.catalog__cost {
		font      : 800 26px/31px "Akrobat", sans-serif;
		margin-top: 9px;
	}

	.footer {
		align-items: flex-start;
		padding    : 21px 41px;
	}

	.footer a {
		font: 16px/25px "Roboto", sans-serif;
	}

	.footer__address,
	.footer__title,
	.footer__skype,
	.footer__feedback-group:nth-of-type(1) .time-phone__phone-footer:last-child {
		display: block;
	}

	.footer__map,
	.time-phone__time-footer {
		display: none;
	}

	.footer__title {
		font: bold 16px/19px "Roboto", sans-serif;
	}

	.footer__address {
		width         : 265px;
		margin-right  : 55px;
		font-size     : 16px;
		line-height   : 25px;
		letter-spacing: 0.02em;
	}

	.footer__feedback {
		display: block;
	}

	.footer__feedback-group,
	.footer__feedback-group:nth-of-type(2) {
		display     : inline-block;
		margin-right: 65px;
	}
}