:root {
	--header__logo-height: 53px;
	--title: 800 20px/24px "Akrobat", sans-serif;
}

@font-face {
	font-family: "Akrobat";
	src: url("../fonts/Akrobatsemibold.woff2") format('woff2'), url("../fonts/Akrobatsemibold.woff") format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Akrobat";
	src: url("../fonts/Akrobatextrabold.woff2") format('woff2'), url("../fonts/Akrobatbold.woff") format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Akrobat";
	src: url("../fonts/Akrobatextrabold.woff2") format('woff2'), url("../fonts/Akrobatextrabold.woff") format('woff');
	font-weight: 800;
	font-style: normal;
}

.title {
	font: var(--title);
}

body {
	font: 12px/16px "Roboto", sans-serif;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

.sidebar-catalog {
	display: none;
}

/* отключаем скролл боди */

.scroller {
	overflow-y: scroll;
	height: 100vh;
}

.header {
	background: linear-gradient(0deg, #00A7FA 13.6%, #007CD7 74.08%);
	width: 100%;
	position: relative;
	z-index: 1;
}

.header-menu-wrapper {
	box-sizing: border-box;
	height: var(--header__logo-height);
	width: 100%;
	vertical-align: middle;
	padding-top: 14px;
	z-index: 1;
}

.header__logo {
	display: inline-block;
	font: bold 20px/24px "Akrobat", sans-serif;
	margin-left: 17px;
}

.header__logo-img-white {
	width: 32px;
	height: 27px;
	vertical-align: bottom;
}

.header__logo-name {
	color: white;
	display: inline-block;
	margin-left: 6px;
	line-height: 24px;
	letter-spacing: 0.02em;
}

/*menu*/

.menu-toggler-checkbox {
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	padding: 27px 0 0 28px;
	box-sizing: border-box;
	z-index: 100;
	width: 70px;
	height: 70px;
}

.menu-toggler-checkbox>span, .menu-toggler-checkbox>span::before, .menu-toggler-checkbox>span::after {
	content: "";
	background-color: white;
	height: 2px;
	position: absolute;
	transition: 0.1s;
	width: 18px;
}

.menu-toggler-checkbox>span::before {
	top: -4px;
}

.menu-toggler-checkbox>span::after {
	top: 4px;
}

#menu-toggler {
	display: none;
}

/* отключаем прокрутку сщдержимого страницы */

#menu-toggler:checked~.scroller {
	overflow: hidden;
}

/* анимация бургера */

#menu-toggler:checked~.scroller .menu-toggler-checkbox>span {
	transform: rotate(45deg);
}

#menu-toggler:checked~.scroller .menu-toggler-checkbox>span::before {
	top: 0;
	transform: rotate(0);
}

#menu-toggler:checked~.scroller .menu-toggler-checkbox>span::after {
	top: 0;
	transform: rotate(90deg);
}

/* стилизация бургера в белый цвет при клике */

#menu-toggler:checked~.scroller .menu-toggler-checkbox>span, #menu-toggler:checked~.scroller .menu-toggler-checkbox>span::before, #menu-toggler:checked~.scroller .menu-toggler-checkbox>span::after {
	background-color: #fff;
}

#menu-toggler:checked~.scroller .header__logo-name {
	color: white;
}

#menu-toggler:checked~.scroller .menu-toggler-checkbox {
	position: fixed;
}

#menu-toggler:checked~.scroller .header__logo .header__logo-img {
	display: none;
}

#menu-toggler:checked~.scroller .header__logo-img-white {
	display: inline-block;
}

#menu-toggler:checked~.scroller .header-menu-wrapper {
	background: linear-gradient(0deg, #00A7FA 13.6%, #007CD7 50.08%);
	position: fixed;
	top: 0;
}

/* открытие меню при клике бургера */

#menu-toggler:checked~.scroller .nav-menu {
	display: block;
}

.nav-menu {
	background-color: #fff;
	box-sizing: border-box;
	display: none;
	overflow-y: scroll;
	padding: 16px 0 0 17px;
	position: fixed;
	bottom: 0;
	top: var(--header__logo-height);
	width: 100%;
}

.time-phone__time {
	display: block;
	font: 10px/12px "Roboto", sans-serif;
	margin-bottom: 4px;
	letter-spacing: -0.02em;
}

.time-phone__phone {
	color: #000;
	display: block;
	font: 800 14px/17px "Akrobat", sans-serif;
	letter-spacing: 0.02em;
	text-decoration: none;
	cursor: pointer;
}

.time-phone__phone-menu {
	display: inline-block;
}

.nav-menu__feedback-group {
	display: none;
}

.nav-menu__list, .nav-menu__sublist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-menu__list {
	margin-top: 24px;
}

.nav-menu__item {
	position: relative;
	padding-right: 35px;
	letter-spacing: 0.02em;
}

.nav-menu__item a {
	color: black;
	display: block;
	font: bold 18px/22px "Akrobat", sans-serif;
	padding: 16px 0;
	overflow-wrap: break-word;
	text-decoration: none;
}

.nav-menu__item a:active {
	color: #0281DC;
}

.nav-menu__item a:visited {
	color: black;
}

.nav-menu__item-laptop, .nav-menu__sublist {
	display: none;
}

.nav-menu__item-sublist a {
	font: 600 16px/19px "Akrobat", sans-serif;
	padding: 8px 0;
}

.nav-menu__item-sublist a:active {
	color: #0281DC;
}

.nav-menu__item-sublist a:visited {
	color: black;
}

.nav-menu__tick {
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	transform: rotate(45deg);
	display: block;
	position: absolute;
	right: 19px;
	top: 20px;
	height: 7px;
	width: 6px;
}

#nav-menu__tick-checkbox-balloon, #nav-menu__tick-checkbox-gas, #nav-menu__tick-checkbox-other {
	display: none;
}

#nav-menu__tick-checkbox-balloon:checked~.nav-menu__sublist-balloon, #nav-menu__tick-checkbox-gas:checked~.nav-menu__sublist-gas, #nav-menu__tick-checkbox-other:checked~.nav-menu__sublist-other {
	display: block;
}

#nav-menu__tick-checkbox-balloon:checked~.nav-menu__tick, #nav-menu__tick-checkbox-gas:checked~.nav-menu__tick, #nav-menu__tick-checkbox-other:checked~.nav-menu__tick {
	transform: rotate(-135deg);
}

.btn {
	border-radius: 4px;
	display: block;
	font-weight: 800;
	font-family: "Akrobat", sans-serif;
	letter-spacing: 0.05em;
	text-decoration: none;
	text-align: center;
}

.price-btn {
	color: white;
	font-size: 16px;
	line-height: 53px;
	margin: 23px 0;
	width: 288px;
	background: linear-gradient(169.9deg, #017DD8 23.22%, #01A8FB 95.44%);
}

.main {
	padding: 0 8px;
}

.breadcrumbs {
	margin: 17px 0 27px;
}

.breadcrumbs a {
	color: #646464;
	text-decoration: none;
}

.breadcrumbs a:visited {
	color: #646464;
}

.delivery-about {
	display: none;
}

.title {
	margin: 0 0 26px;
}

.delivery-rules {
	max-width: 800px;
}

.footer {
	background-color: #282828;
	color: white;
	display: flex;
	align-items: center;
	padding: 16px 0 17px 3.75vw;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer__feedback {
	align-items: center;
	display: flex;
}

.footer__feedback-group {
	margin-right: 12.2vw;
}

.time-phone__phone-footer {
	color: white;
}

.footer__email, .footer__skype, .footer__map {
	color: white;
	display: block;
	font: 10px/12px "Roboto", sans-serif;
	letter-spacing: 0.02em;
	margin-bottom: 3px;
	text-decoration: none;
}

.footer__address, .footer__title, .footer__skype, .footer__feedback-group:nth-of-type(2), .footer__feedback-group:nth-of-type(1) .time-phone__phone-footer:last-child {
	display: none;
}

/* !MEDIA QUERIES */

@media (min-width: 1280px) and (max-width: 1919px) {
	:root {
		--header__logo-height: 108px;
		--title: 800 36px/43px "Akrobat", sans-serif;
	}
	body {
		font: 18px/25px "Roboto", sans-serif;
	}
	.header {
		height: initial;
	}
	.header-menu-wrapper {
		display: flex;
		align-items: flex-start;
		padding: 32px 0 0;
	}
	.header__logo {
		box-sizing: border-box;
		margin: 0;
		padding-left: 53px;
		width: 300px;
	}
	.header__logo-img, .header__logo-img-white {
		width: 59px;
		height: 50px;
	}
	.header__logo-name {
		vertical-align: baseline;
		font-size: 42px;
		line-height: 50px;
		margin-left: 8px;
	}
	.menu-toggler-checkbox {
		display: none;
	}
	.nav-menu {
		align-items: center;
		background-color: transparent;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		overflow: visible;
		padding: 0px 0 0 28px;
		position: static;
		width: 980px;
	}
	.time-phone {
		display: none;
	}
	.nav-menu__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		width: 710px;
	}
	.nav-menu__item {
		margin-right: 32px;
		letter-spacing: 0.03em;
		position: static;
		padding: 0;
	}
	.nav-menu__item a {
		color: #fff;
		font: 18px/21px "Roboto", sans-serif;
	}
	.nav-menu__item a:visited {
		color: white;
	}
	.nav-menu__item-mobile, .nav-menu__tick {
		display: none;
	}
	.nav-menu__item-laptop {
		display: block;
	}
	.price-btn {
		color: #000;
		height: 46px;
		font-size: 16px;
		line-height: 46px;
		margin: 0 38px 0 0;
		width: 191px;
		border-radius: 6px;
		background: #fff;
	}
	.main {
		padding: 0 56px;
	}
	.breadcrumbs {
		margin: 27px 0 45px;
	}
	.delivery-about {
		background: linear-gradient(104.43deg, #017DD8 29.5%, #01A8FB 88.37%);
		border-radius: 21px;
		color: white;
		display: block;
		margin-bottom: 50px;
		min-height: 220px;
		overflow: hidden;
		padding: 40px 20px;
		position: relative;
	}
	.delivery__text {
		line-height: 28px;
	}
	.delivery-about .delivery__text {
		width: 60%;
	}
	.truck {
		height: 220px;
		position: absolute;
		top: 45px;
		right: -109px;
	}
	.delivery-rules {
		margin-bottom: 70px;
		max-width: initial;
		width: 80%;
	}
	.footer {
		align-items: flex-start;
		padding: 30px 56px;
		position: fixed;
		bottom: 0;
	}
	.footer, .footer a {
		font: 16px/25px "Roboto", sans-serif;
	}
	.footer__address, .footer__title, .footer__skype, .footer__feedback-group:nth-of-type(1) .time-phone__phone-footer:last-child {
		display: block;
	}
	.footer__map, .time-phone__time-footer {
		display: none;
	}
	.footer__title {
		font: bold 16px/19px "Roboto", sans-serif;
	}
	.footer__address {
		width: 265px;
		margin-right: 46px;
	}
	.footer__feedback {
		display: block;
	}
	.footer__feedback-group, .footer__feedback-group:nth-of-type(2) {
		display: inline-block;
		margin-right: 56px;
	}
}

/* ! MEDIA 1920PX */

@media (min-width: 1920px) {
	:root {
		--title: 800 40px/48px "Akrobat", sans-serif;
	}
	body {
		display: flex;
		font: 18px/21px "Roboto", sans-serif;
		overflow: visible;
		overflow: overlay;
	}
	.sidebar-catalog {
		box-sizing: border-box;
		flex-shrink: 0;
		display: block;
		padding: 38px 38px;
		width: 425px;
	}
	.sidebar-catalog__logo {
		margin: 0 9px 48px;
	}
	.sidebar-catalog__logo-img {
		width: 65px;
		height: 55px;
	}
	.sidebar-catalog__logo-name {
		color: #1D4EA2;
		display: inline-block;
		font: bold 50px/60px "Akrobat", sans-serif;
		margin-left: 9px;
		letter-spacing: 0.02em;
	}
	.catalog-list, .catalog-list__sublist {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.catalog-list__item {
		color: black;
		display: block;
		font: 800 26px/38px "Akrobat", sans-serif;
		letter-spacing: 0.02em;
		margin-bottom: 16px;
		overflow-wrap: break-word;
		text-decoration: none;
	}
	.catalog-list__sublist {
		margin-bottom: 47px;
	}
	.catalog-list__item-sublist {
		font: 600 22px/44px "Akrobat", sans-serif;
		margin-bottom: 0px;
	}
	.scroller {
		overflow: visible;
		width: 100%;
	}
	.header {
		background: #24205E;
		height: initial;
	}
	.header-menu-wrapper {
		align-items: center;
		display: flex;
		height: 95px;
		padding: 10px 127px 0 41px;
	}
	.header__logo, .menu-toggler-checkbox {
		display: none;
	}
	.nav-menu {
		align-items: center;
		background-color: transparent;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		overflow: visible;
		padding: 0;
		position: static;
		width: 100%;
	}
	.time-phone {
		color: white;
		display: block;
		flex-shrink: 0;
		margin: 0 44px 0 48px;
		order: 1;
	}
	.time-phone__time-menu {
		display: block;
		font: 14px/16px "Roboto", sans-serif;
	}
	.time-phone__phone-menu {
		color: white;
		display: block;
		font: 800 24px/29px "Akrobat", sans-serif;
	}
	a[class$=time-phone__phone-menu]:nth-of-type(2) {
		display: none;
	}
	.nav-menu__feedback-group {
		display: block;
		flex-shrink: 0;
		order: 2;
	}
	.nav-menu__email, .nav-menu__map {
		color: white;
		display: block;
		font: 16px/25px "Roboto", sans-serif;
		text-decoration: none;
	}
	.nav-menu__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		width: 625px;
	}
	.nav-menu__item {
		position: static;
		padding: 0;
		margin-right: 30px;
	}
	.nav-menu__item a {
		color: white;
		font: 18px/21px "Roboto", sans-serif;
	}
	.nav-menu__item a:visited {
		color: white;
	}
	.nav-menu__item-mobile {
		display: none;
	}
	.nav-menu__item-laptop {
		display: none;
	}
	.nav-menu__tick {
		display: none;
	}
	.price-btn {
		border-radius: 6px;
		background: #fff;
		color: #000;
		flex-shrink: 0;
		font-size: 16px;
		height: 46px;
		line-height: 46px;
		margin: 0;
		width: 191px;
	}
	.main {
		padding: 0;
	}
	.breadcrumbs {
		display: none;
	}
	.delivery-about {
		background: linear-gradient(104.43deg, #017DD8 29.5%, #01A8FB 88.37%);
		color: white;
		display: block;
		margin-bottom: 32px;
		min-height: 182px;
		overflow: hidden;
		padding: 77px 39px;
		position: relative;
	}
	.title {
		margin: 0 0 15px;
	}
	.delivery__text {
		margin: 0;
	}
	.delivery-about .delivery__text {
		width: 45%;
	}
	.truck {
		height: 283px;
		position: absolute;
		top: 32px;
		right: -122px;
	}
	.delivery-rules {
		margin-left: 38px;
		max-width: initial;
		width: 63%;
	}
	.footer {
		align-items: flex-start;
		padding: 21px 41px;
	}
	.footer a {
		font: 16px/25px "Roboto", sans-serif;
	}
	.footer__address, .footer__title, .footer__skype, .footer__feedback-group:nth-of-type(1) .time-phone__phone-footer:last-child {
		display: block;
	}
	.footer__map, .time-phone__time-footer {
		display: none;
	}
	.footer__title {
		font: bold 16px/19px "Roboto", sans-serif;
	}
	.footer__address {
		width: 265px;
		margin-right: 55px;
		font-size: 16px;
		line-height: 25px;
		letter-spacing: 0.02em;
	}
	.footer__feedback {
		display: block;
	}
	.footer__feedback-group, .footer__feedback-group:nth-of-type(2) {
		display: inline-block;
		margin-right: 65px;
	}
}